@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.flex-container {
    box-sizing: border-box;
    padding: 10px;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/149/591/584/simple-white-pattern-background-wallpaper-preview.jpg);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20vw;
    row-gap: 5vw;
    align-items: center;
    justify-content: center;
}

.flex-item {
    background-color: #6d5a72d0;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
    border: 1px solid black;
}

.flex-item:hover {
    box-shadow: 6px 6px 40px 10px rgba(128, 0, 128, 0.719);
    transition-duration: 1s;
    transform: rotate3d(0, 1, 0, 15deg);
}

#alternative_content {
    display: block;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin-top: 30%;
    line-height: 20px;
    border: 1px ;
}

strong {
    margin-bottom: 7px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 1px #ffd0007a;
    font-size: 1.3em;
    display: block;
}

span {
    color: #ffd000;
    text-shadow: 1px 2px 1px black;
}

img{
    width: 20rem;
}

#main {
    text-align: justify;
}

#main h1 {
    margin-top: 15%;
    text-align: center;
    color: black;
    font-family: "Archivo Black", sans-serif;
    text-shadow: 2px 2px 1px #ffd000;
}

#main form {
    padding: 20px;
}

input {
    display: block;
    width: 98%;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: grey;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.432);
    margin: center;
    margin-bottom: 20px;
}

input:hover {
    color: #ffd000;
    background-color: black;
    transition-duration: 1s;
}

input:focus {
    color: #ffd000;
    background-color: black;
    transition-duration: 1s;
}

label {
    margin: center;
    color: black;
    font-family: "Archivo Black", sans-serif;
}

#submit {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#submit > input {
    margin-top: 20%;
    width: 100%;
    color: #17BEBB;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 40px;
}

#birthday {
    width: 30%;
    margin: auto;
}

#birthday:hover {
    color: #ffd000;
    background-color: black;
    transition-duration: 1s;
}

#special_pattern1 {
    margin-left: 35%;
}