body {
    background-image: url(https://i.pinimg.com/736x/00/45/d3/0045d3cebd9711b83689bd592d9712a5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 97vh;
    text-align: center;
}

p {
    margin: 10px;
    font-size: 1.2em;
    height: 5em;
    text-align: justify;
}

#image_text {
    height: 2em;
    text-align: center;
}

img {
    height: 250px;
}

h1 {
    color: rgb(5, 65, 121);
}

ul {
    border: 1px solid blue;
    color: rgb(146, 53, 10);
    padding: 15px 20px;
    list-style-type: square;
    list-style-position: inside;
}
